.dashboardContainer {
  display: flex;
  justify-content: center;
}

.dashboard {
  display: grid;
  width: 60%;
  grid-template-rows: 15rem 35rem;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
    'main main'
    'sub field';
  gap: 5%;
}

@media (max-width: 1200px) {
  .dashboard {
    width: 70%;
    grid-template-rows: 12rem 30rem;
    grid-template-columns: 30% 1fr;
  }
}

@media (max-width: 800px) {
  .dashboard {
    width: 100%;
    grid-template-rows: 13rem 30rem;
    grid-template-columns: 30% 1fr;
  }
}
