.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.icon {
  width: 3rem;
}

.graphButton {
  color: #37b24d;
}

.graphButton:hover {
  color: #2b8a3e;
  cursor: pointer;
}

.graphIcon {
  width: 1rem;
  margin-right: 0.5rem;
}
