.mainContainer {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  grid-area: sub;
}

@media (max-width: 800px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 80%;
    margin-bottom: 5%;
  }
}
