.waterInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.waterIcon {
  width: 30%;
  margin: 1.5rem;
}

.waterText {
  font-weight: 500;
  margin: 0.5rem;
}

.waterPercent {
  font-weight: 500;
  font-size: 150%;
}

.percent {
  font-size: 80%;
}

@media (max-width: 800px) {
  .waterText {
    margin: 0;
  }
  .waterIcon {
    margin: 1.8rem;
  }
}
